# .github/workflows/pull-request-approve.yml
# Workflow to be triggered on PR approval, receives target_branch as input, checks out the repo,
# computes the correct opencga-enterprise branch, and calls test-xetabase with the calculated branch and PR head as task.

name: Xetabase PR Approve Entrypoint

on:
  workflow_call:
    inputs:
      target_branch:
        description: 'Target branch of the PR (github.event.pull_request.base.ref)'
        required: true
        type: string
      head_ref:
        description: 'Source branch of the PR (github.event.pull_request.head.ref)'
        required: true
        type: string
    secrets:
      ZETTA_REPO_ACCESS_TOKEN:
        required: true
      THIRDPARTY_READ_TOKEN:
        required: false
      KEEPER_SM_GH_OPENCB:
        required: false

jobs:
  pull-request-approve:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.compute_branch.outputs.branch }}
    steps:
      - name: Checkout ci-core (main)
        uses: actions/checkout@v4
        with:
          repository: opencb/ci-core
          path: ci-core
      - name: Checkout triggering repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 10
          path: workspace
      - name: Parse pom.xml to get project artifactId
        id: pom
        shell: bash
        working-directory: workspace
        run: |
          artifactId=$(mvn -q -Dexec.executable="echo" -Dexec.args='${project.artifactId}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.6.0:exec)
          echo "artifactId=$artifactId" >> "$GITHUB_OUTPUT"
      - name: Compute opencga-enterprise branch
        id: compute_branch
        shell: bash
        working-directory: workspace
        run: |
          chmod +x ../ci-core/.github/workflows/scripts/get_opencga_enterprise_branch.sh
          branch=$( ../ci-core/.github/workflows/scripts/get_opencga_enterprise_branch.sh "${{ steps.pom.outputs.artifactId }}" "${{ inputs.target_branch }}" "${{ inputs.head_ref }}" )
          echo "branch=$branch" | tee -a $GITHUB_STEP_SUMMARY
          echo "branch=$branch" >> $GITHUB_OUTPUT
        env:
          ZETTA_REPO_ACCESS_TOKEN: ${{ secrets.ZETTA_REPO_ACCESS_TOKEN }}


  test-xetabase:
    needs: pull-request-approve
    uses: opencb/ci-core/.github/workflows/test-xetabase.yml@main
    with:
      branch: ${{ needs.pull-request-approve.outputs.branch }}
      task: ${{ inputs.head_ref }}
    secrets: inherit
