name: Build and test the project

on:
  workflow_call:
    inputs:
      cache_key:
        type: string
        required: false
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  test:
    name: Test and push Sonar analysis
    runs-on: ${{ vars.UBUNTU_VERSION }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Setup Java and Maven cache
        # Reuse the composite action to configure Java and Maven cache
        id: setup_java_maven
        uses: opencb/ci-core/.github/actions/setup-java-maven@main
        with:
          require_cache_hit: true
      - name: Start MongoDB v6.0
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: 6.0
          mongodb-replica-set: rs-test
      - name: Test and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify surefire-report:report --fail-never org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=opencb_java-common-libs --no-transfer-progress
      - name: Append test summary to job summary
        if: success() || failure()
        uses: opencb/ci-core/.github/actions/test-summary@main
        with:
          report_paths: './**/surefire-reports/TEST-*.xml'
          title: "Java tests summary"